<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.munit.launchconfig">
<stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.4.1.4.ee"/>
<listAttribute key="mule-project-names">
<listEntry value="01-munit-solution"/>
</listAttribute>
<booleanAttribute key="munit_run" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="01-munit-solution"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.library.path=&#13;&#10;-Dlog4j.skipJansi=true"/>
<booleanAttribute key="run_coverage" value="true"/>
<setAttribute key="test_names"/>
<setAttribute key="test_resources">
<setEntry value="01-munit-demo-test-suite.xml"/>
</setAttribute>
</launchConfiguration>
