<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mule.tooling.runtime.muleServerLaunchType">
<stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.4.1.4.ee"/>
<stringAttribute key="mule-agent-port" value="62986"/>
<listAttribute key="mule-project-names">
<listEntry value="03-externalization-domain-solution"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="03-externalization-domain-solution"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-M-XX:-UseBiasedLocking"/>
</launchConfiguration>
